* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Gilroy;
}

input:focus-visible {
  border: none;
  outline: 0;
  outline-offset: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  background: #3c3c3c;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 84.62vw;
}

.loading {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(39, 39, 39, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}



.loading p {
  font-size: 8.21vw;
  color: #fff;
}

.timetable__settings {
  background: linear-gradient(180deg, #000 0%, rgba(60, 60, 60, 0.67) 98.91%)
    center;
  padding-top: 20.51vw;
  height: 100vh;
}

.nav__panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__panel button {
  background: none;
  border: none;
}

.nav__panel button:first-of-type {
  height: 8.21vw;
  width: 8.21vw;
}

.nav__panel button:last-of-type {
  height: 6.15vw;
  width: 6.15vw;
  opacity: 0;
}

.nav__panel button img {
  width: 100%;
}

.nav__panel h1 {
  color: #fff;
  font-size: 5.13vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.timetable__settings h3 {
  text-align: center;
  padding: 1.03vw 0 6.15vw;
  color: rgba(255, 255, 255, 0.5);
  font-size: 4.1vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.timetable__settings__block {
  display: flex;
  flex-direction: column;
}

.timetable__settings__type__select {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timetable__settings__type__select input {
  display: none;
}

.timetable__settings__type__select label {
  /* transition: all, .2s; */
  width: 38.46vw;
  height: 9.23vw;
  border-radius: 7.69vw;
  background: #272727;
  color: #fff;
  font-size: 3.08vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}


.teachers__search h1 {
  padding-top: 6.15vw;
  text-align: center;
  color: #fff;
  font-size: 4.1vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.search {
  padding-top: 6.15vw;
  display: flex;
  flex-direction: column;
  gap: 4.1vw;
}

.search input {
  border: none;
  border-radius: 7.69vw;
  background: #272727;
  padding: 4.87vw 0 4.87vw 6.15vw;
  width: 100%;
}
.search input,
textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 4.1vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.search h3 {
  padding-top: 4.1vw;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 3.08vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.results {
  border: none;
  border-radius: 7.69vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 46.21vh;
  color: rgba(255, 255, 255, 0.85);
  overflow: scroll;
  gap: 2.05vw;
}

.results::-webkit-scrollbar {
  display: none;
}

.results p {
  padding: 4.87vw 6.15vw;
  border: none;
  border-radius: 7.69vw;
  background: transparent;
  font-size: 4.1vw;
  font-style: normal;
  font-weight: 400;
}

.timetable__settings__course__select {
  padding-top: 8.97vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timetable__settings__course__select input {
  display: none;
}

.timetable__settings__course__select label {
  /* transition: all, .2s; */
  border-radius: 7.69vw;
  background: #272727;
  color: rgba(255, 255, 255, 0.5);
  font-size: 3.08vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.36vw;
  height: 8.21vw;
}

.timetable__settings__item {
  display: flex;
  flex-direction: column;
  gap: 4.1vw;
  border: none;
  border-radius: 7.69vw;
  background: #272727;
  padding: 4.1vw 6.15vw;
  margin-top: 5.38vw;
}

.timetable__settings__item h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 4.1vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.timetable__settings__item img,
label {
  width: 5.1vw;
  height: 5.1vw;
}

.groupe__list {
  display: none;
  flex-wrap: wrap;
  gap: 4.1vw;
  color: rgba(255, 255, 255, 0.5);
  font-size: 4.1vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.groupe__list input {
  display: none;
}

.timetable__settings__save__btn {
  top: 100vh;
  margin: 4.1vw 7.69vw;
  position: sticky;
  border: none;
  border-radius: 7.69vw;
  background: #4d4c4c;
  color: rgba(255, 255, 255, 0.75);
  font-size: 4.1vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 84.62vw;
  min-height: 14.36vw;
}
